@page
@model UtilityBill.WebApp.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Xác nhận quên mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Nếu email bạn nhập tồn tại trong hệ thống, chúng tôi đã gửi một email chứa đường link để bạn đặt lại mật khẩu.
    <br />
</p>